.container {
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container {
    
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-2 {
    
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}